<div class="row justify-content-center">
    <div style="text-align: center; margin-top: 10vh">
       <h1 class="underline">PORTFÓLIO</h1>
    </div>
</div>

<!-- Cards -->
<div class="row mt-4">
    <div
      class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3"
      *ngFor="let r of repos"
      style="padding: 0px;"
    >
        <app-card
            [title]="r"
            [hasButton]="true"
            [hasImage]="true"
            [imagem]="'/assets/download.jpeg'"
        >
        </app-card>
    </div>
</div>