<div class="row justify-content-center">
    <div style="text-align: center; margin-top: 2vh">
       <h1 class="underline">PORTFÓLIO</h1>
    </div>
</div>

<app-pagination
    #pagination
    [pages]="pages"
    (reposOnChange)="getReposPagination($event)"
    (getCurrentPage)="getCurrentPage($event)"
></app-pagination>

<!-- Cards -->
<div class="row mt-2">
    <div
      class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3"
      *ngFor="let r of repos"
      style="padding: 0px;"
    >
        <app-card
            [title]="r.name"
            [hasButton]="true"
            [hasImage]="true"
            [imagem]="'/assets/download.jpeg'"
            [starNumber]="r.stargazers_count"
            [forkNumber]="r.forks_count"
        >
        </app-card>
    </div>
</div>

<app-pagination
    #paginationTwo
    [pages]="pages"
    (reposOnChange)="getReposPagination($event)"
    (getCurrentPage)="getCurrentPage($event)"
></app-pagination>