<div class="row justify-content-center">
    <div style="text-align: center; margin-top: 2vh">
       <h1 class="underline">CONTATO</h1>
    </div>
</div>

<form class="row g-3">
    <div class="col-6">
        <app-input-text
        [label]="'Nome'"
        [id]="'nameId'"
        [control]="'name'"
        [isRequired]="true"
        [type]="'text'"
      ></app-input-text>
    </div>

    <div class="col-6">
      <app-input-text
        [label]="'E-mail'"
        [id]="'emailId'"
        [control]="'email'"
        [isRequired]="true"
        [type]="'email'"
      ></app-input-text>
    </div>

    <div class="col-12">
        <app-input-text
          [label]="'Assunto'"
          [id]="'subjectId'"
          [control]="'subject'"
          [isRequired]="true"
          [type]="'text'"
        ></app-input-text>
    </div>

    <div class="col-12">
        <app-input-textarea
          [label]="'Mensagem'"
          [id]="'messageId'"
          [control]="'message'"
          [isRequired]="true"
          [type]="'textarea'"
        ></app-input-textarea>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
    </div>
</form>