h1 {
    color: #FCF198;
    font-size: 5vw;
    margin: 0;
}

h4 {
    color: #FCF198;
    font-size: 2vw;
    margin: 0;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 10%;
    width: 80%;
    border-bottom: 4px solid #FCF198;
}

.div-pai {
    display: flex; 
    justify-content: space-around; 
    margin-top: 5vh;
}

@media (max-width: 1186px) {
    .div-pai {
        display: flow-root;
    }

    h1 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 2rem;
    }
}