h1 {
    color: #FCF198;
    font-size: 5vw;
    margin: 0;
}

h4 {
    color: #FCF198;
    font-size: 2vw;
    margin: 0;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 10%;
    width: 80%;
    border-bottom: 4px solid #FCF198;
}

.div-pai {
    display: flex; 
    justify-content: space-around; 
    margin-top: 5vh;
}

@media (max-width: 1186px) {
    .div-pai {
        display: flow-root;
    }

    h1 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 2rem;
    }
}

.div-button {
    display: flex; 
    justify-content: center;
}

.div-button > button {
    width: 12rem; 
    border-radius: 1rem; 
    background-color: #B98045; 
    border-color: transparent; 
    color: #FCF198; 
    font-size: 1.3rem; 
    padding: 0.2rem;
}

.div-button > button:hover {
    width: 12.1rem; 
    background-color: #FCF198; 
    border: 2px solid #B98045; 
    color: #B98045; 
}

.div-button > button > span {
    margin-right: 1rem;
}