.card {
  width: 100%;
  border: none;
}

.card-body {
  padding: 0;
}

.body:hover {
  background-color: rgba(255, 230, 128, 0.5);
}

.body {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: white;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

p {
  align-items: center;
  font-family: Englebert;
  margin-bottom: auto;
  margin-top: auto;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.card-title {
  background-color: #B96E1F !important;
  border-color: #B96E1F !important;
  color: white;
}

::ng-deep .custom-prev-button {
  background-color: #B96E1F;
  border: none;
  position: relative;
  z-index: 1;
}

::ng-deep .custom-prev-button:focus {
  outline: none;
}

::ng-deep .carousel-control-custom-icon {
  color: white;
}


ul {
  width: 100%;
}