.card {
  width: 100%;
}

.card-body {
  padding: 0;
}


.body {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: white;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

p {
  display: flex;
  align-items: center;
  font-family: Englebert;
}

.card-title {
  background-color: #B96E1F !important;
  border-color: #B96E1F !important;
  color: white;
}

.carousel-item img {
  height: auto;
  object-fit: cover;
}

