::ng-deep .card {
    border-color: #B98045 !important;
    background-color: #B98045;
}

.card-body {
    padding: 0px;
    display: flex;
    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

h1, h3, h5 {
    margin: 0;
}