<div class="row" style="height: 80vh; display: flex !important; justify-content: center !important; vertical-align: middle !important; align-items: center !important;">
    <div class="col-md-6">
        <div class="card h-100 no-border" style="min-height: 358px; max-height: 358px; margin: 10px !important">
            <div class="card-body" align="center">
                <div>
                    <h1 style="font-family: 'Englebert'; color: #FCF198;">OLÁ, MEU NOME É</h1>
                </div>

                <div>
                    <h5 style="font-family: 'Englebert'; font-size: 1.5rem;">
                        System
                        <span style="color: #FCF198">
                            .out.
                        </span>
                        println(
                        <span style="color: #FCF198">
                            "JAIR LOPES JUNIOR"
                        </span>);
                    </h5>
                </div>

                <div>
                    <div>
                        <h3 class="typewriter" style="color: #FCF198;">FULL-STACK / DEVELOPER</h3>
                    </div>
    
                    <div>
                        <hr align="center" width="97%" style="border: 2px solid black; margin: 0.2rem 0 !important;" />
                    </div>
    
                    <div>
                        <h3 class="typewriter" style="color: #FCF198; word-wrap: inherit;">I TURN COFFEE INTO  &#123;CODE;&#125;</h3>
                    </div>
                </div>

                <div style="height: 50%; text-align: center; align-items: center !important; display: flex;
                    width: 100%; vertical-align: middle; justify-content: center;">
                    <app-social-network-link 
                        [name]="'github'"
                        [link]="'https://github.com/JairLopesJunior'"
                    ></app-social-network-link>
    
                    <app-social-network-link
                        [name]="'linkedin'"
                        [link]="'https://www.linkedin.com/in/jair-lopes-1a73211a2'"
                    ></app-social-network-link>
    
                    <app-social-network-link
                        [name]="'gitlab'"
                        [link]="'https://gitlab.com/JairLopesJunior'"
                    ></app-social-network-link>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 content-center">
        <img src="assets/jair.png">
    </div>
</div>