<div align="center">
    <h2>WELCOME MY PORTFÓLIO</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <app-card>
            <h1 style="font-family: 'Englebert'; color: #FCF198;">OLÁ, MEU NOME É</h1>

            <h5 style="font-family: 'Englebert';">
                System
                <span style="color: #0029FF">
                    .out.
                </span>
                println(
                <span style="color: #146FC3">
                    "JAIR LOPES JUNIOR"
                </span>);
            </h5>

            <h3 class="typewriter" style="color: #FCF198;">FULL-STACK / DEVELOPER</h3>

            <hr align="center" width="97%" style="border: 2px solid black; margin-top: 0vh; margin-bottom: 8px;" />

            <h3 class="typewriter" style="color: #FCF198; word-wrap: inherit;">I TURN COFFEE INTO  &#123;CODE;&#125;</h3>
        
            <app-social-network-link></app-social-network-link>
        </app-card>
    </div>

    <div class="col-md-6">
        <img>
    </div>
</div>

<!-- Cards -->
<div class="row mt-4">
    <div
      class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
      *ngFor="let r of repos"
      style="padding: 0px;"
    >
        <app-card
            [title]="r"
            [hasButton]="true"
        >asd
        </app-card>
    </div>
</div>