<div class="row justify-content-center">
    <div style="text-align: center; margin-top: 10vh">
       <h1 class="underline">QUEM SOU</h1>
    </div>
</div>

<div class="row mt-5">
    <h2>OLÁ, MEU NOME É JAIR 👋</h2>
    <h5>
        Olá  eu sou o Jair, gosto muito da área de T.I e escolhi 
        fazer de uma coisa que gosto a minha h5rofissão.
        Atualmente eu estudo na FATEC - ARARAS e sou estagiário 
        em uma empresa de T.I. A linguagem que programo na 
        empresa é JAVA mas possuo conhecimentos em outras 
        linguagens, estou no começo da minha trajetoria profissional 
        e não pretendo parar de estudar, busco sempre aprender com 
        a expertise dos meus colegas e faço frequentemente cursos 
        complementares para aumentar o meu conhecimento 
    </h5>
</div>

<div class="row mt-3">
    <div
      class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"
      style="padding: 0px;"
    >
    <app-progress-bar
        [valuenow]="80"
        [titulo]="'JAVA'"
    >
    </app-progress-bar>
    </div>
</div>
  