/* You can add global styles to this file, and also import other style files */

/* BOOTSTRAP */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* NOTIFIER */
@import "~angular-notifier/styles.css";

html,
body {
    height: auto !important;
    background-color: #5E4429 !important;
    border-top: 0.2rem solid #B98045;
    border-right: 0.2rem solid #B98045;
    border-left: 0.2rem solid #B98045;
    border-bottom: 0px;
    margin: 0;
}